<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
<title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>Page about</h1>
        <p> site information znews is ON</p>
        <p class="">
            O ZNews é um buscador inteligente de notícias criado para simplificar o acesso à informação. Nosso objetivo
            é reunir conteúdos relevantes de diversas fontes em um só lugar, permitindo que você encontre rapidamente o
            que realmente importa.
        </p>
        <p>
            Acreditamos que a informação deve ser acessível, rápida e confiável. Por isso, desenvolvemos uma plataforma
            leve, prática e direta ao ponto, ideal para quem quer se manter atualizado sem perder tempo.
        </p>
        <p>
            O ZNews nasceu como um projeto independente, com foco em inovação e na melhoria da forma como as pessoas
            consomem notícias no dia a dia.

        </p>
    </div>

    {{>footer}}
</body>

</html>