<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js"></script>
    <title>Znews</title>
</head>

<body>
    <div class="main-content">
        {{>header}}

                <h1>Page contact</h1>

        <p> site information znews is ON</p>
    </div>

    {{>footer}}
</body>

</html>