<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <title> Znews </title>
</head>

<body>

    {{>header}}


    <main data-page="Home">

        <section id="home" class="home">
            <img src="../img/home.png" alt="" class="imgHome">
            <form action="" class="search" id="formSearch">
                <input type="text" id="inpSearch" class="inpSearch" placeholder="Busque notícias..." name="search">
                <button value="Buscar" class="btnSearch">Buscar</button>
            </form>
            <br>
            <p id="qtdResult"> </p>
            <p id="message2"></p>

        </section>
        <section class="resultSearch">
            
        </section>
    </main>


    {{>footer}}

    
    <script src="/js/app.js"></script>
</body>

</html>