<footer>
    <p> © 2026 ZNews | Seu buscador inteligente de notícias | Desenvolvido por Gabriel Zuniga</p>
  <script>
    document
      .getElementById('menu-toggle')
      .addEventListener('click', function () {
        document.getElementById('nav-links').classList.toggle('active');
        document.getElementById('menu-toggle').ariaExpanded = document.getElementById('menu-toggle').ariaExpanded == "true" ? "false" : "true";
      });
  </script>

</footer>