<header id="start"> 
    <nav>
        <!--
        <h1>{{title}} </h1>
        <p class="logo">Gabriel Zuniga </p>-->

        <a href="/">  <img src="/img/home.png" alt="" class="logo"> </a>
        <a class="menu-toggle" id="menu-toggle" aria-label="Menu button" aria-expanded="false">
            ☰
        </a>
        <ul class="nav-links" id="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us </a></li>
            <li><a href="/contact">Contact </a></li>
        </ul>
    </nav>
</header>
 